
@{
    ViewBag.Title = "Home";
}

<main>
    <h2>사용 가이드</h2>
    <section>
        <ol>
            <li>
                아래 텍스트 박스에 상점 아이디를 입력합니다 <br />
                <input type="text" id="txtMallId" placeholder="상점 아이디" />
            </li>
            <li>
                아래 '인스톨' 버튼을 클릭 해서 상점에 Criteo Catalog앱을 설치합니다(이미 앱을 한번 설치 하셨으면 스킵하셔도 됩니다) <br />
                <input type="button" id="btnInstall" value="인스톨" />
            </li>
            <li>
                설치가 완료되면 아래 'Criteo 피드 URL' 버튼을 클릭 해 해당 URL을 사용하여 크리테오와 연동을 시작하시면 됩니다<br />
                <input type="button" id="btnUrl" value="Criteo 피드 URL" />
            </li>
        </ol>
    </section>
</main>