@model List<dynamic>
@{
    ViewBag.Title = "Home";
}

<main>
    <h2>설치된 상점</h2>
    <section>
        <div class="form-horizontal">
            <div class="form-group col-sm-12">아래 상점을 선택하여 상점 피드 URL 및 마지막 업데이트 시간을 확인할수 있습니다.</div>
            <div class="form-group">
                <label for="malls" class="col-sm-2 control-label">상점: </label>
                <div class="col-sm-10">
                    <select name="malls" id="malls" class="form-control">
                        <option value="default">상점을 선택해 주세요</option>
                        @foreach (var mall in Model)
                        {
                            <option value="@mall.id" data-last-updated="@mall.lastUpdated">@mall.id</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">상점 피드 URL: </label>
                <div class="col-sm-10">
                    <input type="text" id="txtFeedURL" value="" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">마지막 업데이트: </label>
                <div class="col-sm-10">
                    <input type="text" id="lastUpdated" value="" class="form-control" readonly />
                </div>
                
            </div>
        </div>
    </section>


    <hr />
    
    <h2>피드 설치</h2>
    <section>
        <div class="form-group">아래 텍스트 박스에 상점 아이디를 입력 후 "인스톨" 버튼을 클릭 하십시오.</div>
        <div class="form-inline">
            <div class="form-group">
                <input type="text" id="txtMallId" class="form-control" placeholder="상점 아이디" />
            </div>
            <input type="button" id="btnInstall" class="btn btn-primary" value="인스톨" />
        </div>
        @*<ol>
            <li>
                아래 텍스트 박스에 상점 아이디를 입력 후 인스톨 버튼을 클릭 하십시오. <br />
                <input type="text" id="txtMallId" class="form-control" placeholder="상점 아이디" />

            </li>
            <li>
                아래 '인스톨' 버튼을 클릭 해서 상점에 Criteo Integration앱을 설치합니다 <br />
                <input type="button" id="btnInstall" class="btn btn-primary" value="인스톨" />
            </li>
            <li>
                설치가 완료되면 아래 'Criteo 피드 URL' 버튼을 클릭 해 해당 URL을 사용하여 크리테오와 연동을 시작하시면 됩니다<br />
                <input type="button" id="btnUrl" value="Criteo 피드 URL" />
            </li>
        </ol>*@
    </section>

    <hr />

    <h2>태그 설치</h2>
    <section>
        <div class="form-group">아래 택스트 박스에 파트너 아이디를 입력 후 한 레이아웃의 현재 코드를 넣고 "코드 추가" 버튼을 클릭 하시면 오른쪽 택스트 박스에 현재 코드 + 크리테오 태그가 추가됩니다. 추가된 코드를 현재 레이아웃에 전체 복사 붙여넣기를 하면 됩니다. 태그가 발동되기 원하시는 모든 레이아웃에 적용을 해야합니다.</div>
        <div class="form-group">
            <input type="text" id="txtPartnerId" class="form-control" placeholder="파트너 아이디" />
        </div>
        <div class="checkbox">
            <label>
                <input id="cbNpay" type="checkbox" checked> NPay태그 활성화
            </label>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PC 디자인</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <p>아래 레이아웃을 포함한 태그를 발동하기 원하시는 모든 PC 레이아웃에 적용해야 합니다.</p>
                    <ul>
                        <li>디자인 관리 -> 전체화면 보기 -> 레이아웃 -> 기본 레이아웃 -> 메인 레이아웃</li>
                        <li>디자인 관리 -> 전체화면 보기 -> 레이아웃 -> 기본 레이아웃 -> 공통 레이아웃</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="beforePc">현재 코드</label>
                        <textarea id="beforePc" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="afterPc">현재 코드 + 크리태오 태그</label>
                        <textarea id="afterPc" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="button" id="btnPc" class="btn btn-primary" value="코드 추가" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">모바일 디자인</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <p>아래 레이아웃을 포함한 태그를 발동하기 원하시는 모든 모바일 레이아웃에 적용해야 합니다.</p>
                    <ul>
                        <li>모바일 쇼핑몰 -> 전체화면 보기 -> 레이아웃 -> 기본 레이아웃 -> 메인 레이아웃</li>
                        <li>모바일 쇼핑몰 -> 전체화면 보기 -> 레이아웃 -> 기본 레이아웃 -> 공통 레이아웃</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="beforeMobile">현재 코드</label>
                        <textarea id="beforeMobile" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="afterMobile">현재 코드 + 크리테오 태그</label>
                        <textarea id="afterMobile" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="button" id="btnMobile" class="btn btn-primary" value="코드 추가" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>